.wrapper{
    width:100%;

}
.wrapper .ProfileInfo{
    position: relative;
    overflow: hidden;
    padding: 16px;
    /*border: 1px dashed green;*/
    height: 400px;
}
.ProfileInfo img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.1;
    border-radius: 5px;
}
.ProfileInfo .infoComponent{
    position: relative;
    z-index: 2;
    height: 100%;
}

