.mainWrapper{
    /*border:3px solid #ff0033;*/
    display: flex;
    background-repeat: no-repeat;
    flex-wrap: wrap;



}
.profileDataContentWrapper{
    /*border:3px solid yellow;*/
    display: flex;
    width: 100%;
   justify-content: space-between;
    flex-wrap: wrap;

}
.profileDataContentWrapper .statusEditButtonChooseFileButton{
    display: inline-flex;
    flex-direction: column;
    /*border:2px solid #0004ff;*/
    flex-wrap: wrap;
}
.profileDataContentWrapper .profileUserData{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*border:2px solid #26ff00;*/
    max-width: 35%;

}
.profileDataContentWrapper .contactsList{
    /*border:2px solid #ff0033;*/
    display: flex;
    flex-direction: column;
    width: 30%;



}



