.postBlock{
    padding: 10px;
    /*border:3px solid blue;*/
}
.contentPost{
    border:2px solid red;
    display: flex;
}
.item {
    color: #503a17;
    margin-top: 10px;
    display:flex;
}
.message{
    margin-left: 10px;
}
.postImg img{
    width: 40px;
    border-radius: 10%;
}
.heart{
margin-left: 10px;
    display: flex;
    align-items: center;
}
.likeCounter{
    display: flex;
    font-size: 14px;
}