
.mainWrapper {
    /*border:5px solid green;*/
    display: flex;
    flex-direction: column;
    background-color: #b1b3b5;
}

.navContent {
    display: flex;
}

.mainContent {
    width: 100%;
    justify-content: stretch;
    border:1px solid red;
}

.navAndMain {
    display: flex;
    margin-top: 5px;
    width: 85%;
    align-self: center;


}


