
.mainWrapper{
/*border:5px solid green;*/
display: flex;
flex-direction: column;
}
.navContent{
display: flex;
}
.mainContent{
    width: 100%;
    justify-content: stretch;
    background-color: coral;
}
.navAndMain{
display: flex;




}


